<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Filters - filtros</title>
        <script type="text/javascript" src="angular.min.js"></script>
        <style>
            p, h1, h2, h3 {
                font-family: Arial, Helvetica, sans-serif;
            }
            body {
                background-color: #d2f0cd;
            }
        </style>
    </head>
    <body ng-app="meuApp" ng-controller="meuCtrl">
        <h1>Página do curso de AngularJS.</h1>
        <h2>Filters - filtros</h2>
        <h3>Conceitos de Filters - filtros.</h3>
        
        <h2>Tabela</h2> 
        
        Ordenar por: <select ng-model="ordenarPor">
            <option value="nome">Nome</option>
            <option value="pais">País</option>
        </select><br><br>

        <table border="1" width="500">
            <tr>
                <th align="left">Nome</th>
                <th align="left">País</th>
            </tr>
            <tr ng-repeat="x in nomes | orderBy:ordenarPor">
                <td>{{x.nome}}</td>
                <td>{{x.pais}}</td>
            </tr>
        </table>

        <script type="text/javascript">
        var app = angular.module('meuApp', []);
        app.controller('meuCtrl', function($scope){
            $scope.nomes = [
                {nome:'Vinicius', pais:'Brasil'},
                {nome:'Leandro', pais:'China'},
                {nome:'Maria', pais:'Japáo'},
                {nome:'Alexandre', pais:'México'},
                {nome:'Carlos', pais:'França'},
                {nome:'Beatriz', pais:'Estados Unidos'},
                {nome:'Claudia', pais:'Portugal'},
                {nome:'Tereza', pais:'Rússia'},
                {nome:'Fernanda', pais:'Coréia'},
            ];
        });
        </script>
    </body>
</html>
